@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&family=Epilogue:wght@500;700&display=swap');
body{
    font-size: 18px;
    font-family: 'Epilogue', sans-serif;
    background-color: hsl(0, 0%, 87%);
}

#TopNavigation{
    display: flex;
    justify-content: space-between;
}

#TopNavigation > img{
    padding: 20px 0px 0px 20px;
    max-height: 30px;
}

#TopNavigation .NavigationElement{
    display: flex;
    color: grey;
}

#TopNavigation #LoginElement{
    display: flex;
}

#TopNavigation #LoginElement .NavigationElement{
    padding: 0px 50px 0px 0px;
    
}
#LoginElement .NavigationElement:hover
{
    border:1.5px solid black;
    border-radius: 5px;
    padding: 0px 3px 0px 3px;
    transform: translate(0px, -10px);
}




#TopNavigation .NavigationElement > img{
    height: 10%;
    width: 45%;
    transform: translate(3px, 24px);
}

.NavigationElement :hover{
    color:hsl(0, 0%, 8%);
    cursor:pointer;
}
#FeaturesPopUp{
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: white;
    width: fit-content;
    padding : 10px 20px 10px 20px;
    border-radius: 10px;
    row-gap: 0px;
    transform: translate(450px, -1030px);
}


#CompanyPopUp{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: fit-content;
    padding:20px;
    border-radius: 10px;
    row-gap: 0px;
    transform: translate(925px, -1020px);
}

.FeaturesPopUpElements{
    display: flex;
}

.FeaturesPopUpElements > img{
    height: 15%;
    transform: translate(-5px, 18px);
}



#Page{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-content: center;
    gap:100px 100px;
    padding: 70px 0px 0px 0px;
}

#Page > img{
    max-width: 700px;
}

#ContentBox{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

#ContentBox #BottomImages{
    align-items: flex-end;
}

#ContentBox h1{
    font-size: 90px;
}

#ContentBox .LearnBox{
    background-color: black;
    color: white;
    width: fit-content;
    padding : 15px 25px 15px 25px;
    border-radius: 15px;
}  

#ContentBox .LearnBox:hover{
    background-color: white;
    color: black;
}

#BottomImages{
    margin-top:200px;
    display: flex;
    justify-content: space-between;
}

#BottomImages > img{
    width: 15%;
    height: 100%;
}

h1 + p{
    color: hsl(0, 0%, 41%);
}
