@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&family=Epilogue:wght@500;700&display=swap');
body{
    font-size: 18px;
    font-family: 'Epilogue', sans-serif;
}

#TopNavigation{
    display: flex;
    justify-content: space-between;
}

#TopNavigation > img{
    padding: 20px 0px 0px 20px;
}

#TopNavigation .NavigationElement{
    display: flex;
}

#TopNavigation #LoginElement{
    display: flex;
}

#TopNavigation #LoginElement .NavigationElement{
    padding: 0px 50px 0px 0px;
    
}

.OneOff{
    color: grey;
    border:2px solid black;
    border-radius: 5px;
    padding: 10px;
    transform: translate(0px, -10px);
}


#TopNavigation .NavigationElement > img{
    height: 15%;
    width: 45%;
    transform: translate(10px, 24px);
}



#Page{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-content: center;
    gap: 0px 150px;
    padding: 70px 0px 0px 0px;
}

#Page > img{
    width: 700px;
}

#ContentBox{
    display: flex;
    flex-direction: column;
    justify-content: space-around
}

#ContentBox h1{
    font-size: 90px;
}

#ContentBox .LearnBox{
    background-color: black;
    color: white;
    width: fit-content;
    padding : 15px 25px 15px 25px;
    border-radius: 15px;
}  

#BottomImages{
   
    display: flex;
    justify-content: space-between;
}

#BottomImages > img{
    width: 15%;
    height: 100%;
}

h1 + p{
    color: hsl(0, 0%, 41%);
}